*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.MainHeader{
    max-width: 1400px;
    width: 100%;

    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;

  
    
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
    z-index: 999;
}
.MainHeader img{
    height: 1.56rem;
}
.navbar{
   
    width: 100%;
   
}
.navbar ul{
    list-style: none;
    margin-top: 0;
    margin-bottom: 0;
    padding: 10px;
   display: none;
   font-family: Arial, Helvetica, sans-serif;
   font-weight: bold;
   font-size: 0.8rem;
}
.navbar ul li{
    float: left;
    padding-left: 20px;
    cursor: pointer;
}
.HeaderIcon{
    width: 150px;
    display: flex;
    justify-content: end;
    align-items: center;
}
.HeaderIcon a{
    padding-left: 20px;
}

.offsetSearchdiv{
    width: 100%;
    position: relative;
}
.offsetSearchIcon{
    position: absolute;
    z-index: 1;
    top: 9px;
    left: 10px;
}
.OffsetSearchbar{
    width: 100%;
    border-radius: 50px;
    padding: 9px;
    border: none;
    background-color: rgb(243, 243, 243);
    position: relative;
}
.offcanvas-body a {
    text-decoration: none;
    color: black;
}
.offcanvas-body a:hover{
    font-weight: bold;
    color: black;
}
.offcanvas-body ul li{
    list-style: none;
    line-height: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.landPage{
    
   
    font-size: 16px;
}

/*CSS Variables*/
:root{
    --headFont:Arial, Helvetica, sans-serif;
    --headFontWeight:bold;
    --headSuperscript:0.4em;
}

.CarouselFont{
    font-size: 16px;
}
.CaptionStyle{
    width: 31.25em;
    height: 14em;
    color: white;
 
    
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: start;  
}
.CaptionStyle h1{
    font-family: var(--headFont);
    font-weight: var(--headFontWeight);
    font-size: 2.8em;
    cursor: default;
}
.CaptionStyle sup{
    font-size: var(--headSuperscript);
    top: -1.2em;
}
.CaptionStyle p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    cursor: default;
}
.CaptionStyle button{
    border-radius: 3.125em;
    font-size:small;
    font-weight: bold;
    border-style: none;
    padding: 0.8em 1.8em ;
    align-self: flex-start;
    cursor: pointer;
}
.CaptionStyle button:hover{
    background-color: lightgray;
}
.carousel-item{
    position: relative;
}

.centerAlign{
    text-align: center;
}
.SecondPage{
    
    font-size: 16px;
}
.Highlightlist li{
    list-style: none;
    display: inline-flex;
    padding: 0 12px;
    
}
.bigHighlight{
    width: 42.5em;
    height: 42.75em;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.smallHighlight{
    width: 20.6em;
    height: 20.6em;
    background-color: green;
    display: flex;
    justify-content: center;
    align-items: center;
}

.PositionToBack{
    position: absolute;
    overflow: hidden;
}

.Bigimage img{
    width: 42.4em;
}

.smallImage img{
    width: 21em;
}

.cardList li{
    list-style: none;
    display: inline-flex;
    padding: 0 10px;
    cursor: pointer;
}

.ExploreImage{
    width: 40vw;
    height: 40vw;
    border-radius: 50px;

    overflow: hidden;
}
.Explorelist{
    margin-left: 35px;
    margin-top: 100px;
}
.Explorelist li a{

    text-decoration: none;
    color: black;
    
}
.Explorelist ul li{
    list-style: none;

    margin-top: 30px;
}

.Topfooter{
    font-size: small;
}

.FooterLeft li{
    list-style: none;
    display: inline-flex;
   
    padding-right: 20px;
}
.FooterRight{
    text-align: end;
}
.FooterRight li{
    list-style: none;
    display: inline-flex;
    padding-left: 20px;

}



.NormallButton{
    font-family: Arial, Helvetica, sans-serif;
    font-weight:bold;
    padding: 10px 20px ;
    border-radius: 50px;
    border-style: none;
    background-color: black;
    color: white;
    cursor: pointer;
    position: relative;
    transition: all 0.3s ease-in-out;
    
}
.NormallButton:hover{
    background-color: gray;
}
.GadgetsSectionHeader h1{
    font-weight: bold;
}


/* New */

.HighlightedTiles{
    display: flex;
    flex-direction: column;
    margin-top: 9em;
    background-color: red;
}

.cardInnerSection{
    display: flex;
    justify-content: center;

}
.leftTop{
    display: flex;
    justify-content: center;
}
.rightBottom{
    display: flex;
    justify-content: center;
}

@media screen and (min-width:1280px) {

    .navbar ul{
        display: block;
    }
    .btn[data-bs-toggle="offcanvas"]
    {
        display: none;
    }

    .rightCaptionPosition{
        position: absolute;
        top: 35%;
        left: 50%;
    }
    .leftCaptionPosition{
        position: absolute;
        top: 35%;
        left: 10%;
    }
    .SecondPage{
     
        font-size: 14px;
    }



    .MobileSection{
        width: 100%;
        height: 800px;
        
        
       
        overflow: hidden;
        position: relative;
    
    }
    .GadgetsSectionHeader{
        width: 100%;
        height: 150px;
        
        position: absolute;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: end;
    }
    .GadgetsSectionHeader h1{
        font-family: Arial, Helvetica, sans-serif;
        font-size: 45px;
        padding: 5px 0;
        cursor: default;
    }

    .GadgetsSectionDetails{
        width: 100%;
        height: 180px;
        
        position: relative;
        margin-top: 590px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .GadgetsSectionDetails div a{
        font-family: Arial, Helvetica, sans-serif;
        color: black;
        font-size: 15px;
        font-weight: bold;
        padding: 0 10px;
    }

    .GadgetsSectionDetails h1{
        font-family: Arial, Helvetica, sans-serif;
        font-size: 50px;
        padding: 5px 0;
        cursor: default;
    }
    .GadgetsSectionDetails p{
        text-align: center;
        font-family: Arial, Helvetica, sans-serif;
        
        padding: 10px 0; 
    }
    /* .CardCarousel{
        display: flex !important; 
    }
    .cardCarouselItem{
        display: block !important;
       
        margin: auto;
        flex: 0 0 calc(100%/5);
    }

    .card{
        width: 18rem;
    } */

}



@media screen and (min-width:992px) and (max-width:1279px) {
    

    .CarouselFont{
        font-size: 15px;
    }

    .rightCaptionPosition{
        position: absolute;
        top: 25%;
        left: 50%;
    }
    .leftCaptionPosition{
        position: absolute;
        top: 25%;
        left: 10%;
    }
    
    .Highlightlist li{
        font-size: medium;
         
     }

     .SecondPage{
     
        font-size: 11px;
    }




    .MobileSection{
        width: 100%;
        height: 800px;
        
        
       
        overflow: hidden;
        position: relative;
    
    }
    .GadgetsSectionHeader{
        width: 100%;
        height: 150px;
        
        position: absolute;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: end;
    }
    .GadgetsSectionHeader h1{
        font-family: Arial, Helvetica, sans-serif;
        font-size: 45px;
        padding: 5px 0;
        cursor: default;
    }
  
    .GadgetsSectionDetails{
        width: 100%;
        height: 180px;
        
        position: relative;
        margin-top: 590px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .GadgetsSectionDetails div a{
        font-family: Arial, Helvetica, sans-serif;
        color: black;
        font-size: 15px;
        font-weight: bold;
        padding: 0 10px;
    }

    .GadgetsSectionDetails h1{
        font-family: Arial, Helvetica, sans-serif;
        font-size: 40px;
        
        cursor: default;
    }
    .GadgetsSectionDetails p{
        text-align: center;
        font-family: Arial, Helvetica, sans-serif;
        
        padding: 10px 0;
    }

    /* .carousel-inner{
        display: flex;
    }
    .carousel-item{
        display: block;
       
        margin: auto;
        flex: 0 0 calc(100%/5);
    }

    .card{
        width: 18rem;
    } */
}

@media screen and (min-width:768px) and (max-width:991px) {

    .CarouselFont{
        font-size: 15px;
    }

    .rightCaptionPosition{
        position: absolute;
        top: 25%;
        left: 50%;
    }
    .leftCaptionPosition{
        position: absolute;
        top: 25%;
        left: 10%;
    }
    .SecondPage{
     
        font-size: 8px;
    }
    .Highlightlist li{
        font-size: medium;
         
     }



     
    .MobileSection{
        width: 100%;
        height: 800px;
        
        
        
        overflow: hidden;
        position: relative;
    
    }
    .GadgetsSectionHeader{
        width: 100%;
        height: 150px;
        
        position: absolute;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: end;
    }
    .GadgetsSectionHeader h1{
        font-family: Arial, Helvetica, sans-serif;
        font-size: 45px;
        padding: 5px 0;
        
        cursor: default;
    }

    .GadgetsSectionDetails{
        width: 100%;
        height: 180px;
        
        position: relative;
        margin-top: 590px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .GadgetsSectionDetails div a{
        font-family: Arial, Helvetica, sans-serif;
        color: black;
        font-size: 15px;
        font-weight: bold;
        padding: 0 10px;
    }

    .GadgetsSectionDetails h1{
        font-family: Arial, Helvetica, sans-serif;
        font-size: 30px;
        
        cursor: default;
    }
    .GadgetsSectionDetails p{
        text-align: center;
        font-family: Arial, Helvetica, sans-serif;
        
        padding: 10px 0;
    }

    /* .carousel-inner{
        display: flex;
    }
    .carousel-item{
        display: block;
        margin-right: 0;
        flex: 0 0 calc(100%/3);
    }*/

  
    
}

@media screen and (min-width:576px) and (max-width:767px) {
    
    .CarouselFont{
        font-size: 10px;
    }

    .rightCaptionPosition{
        position: absolute;
        top: 14%;
        left: 50%;
    }
    .leftCaptionPosition{
        position: absolute;
        top: 20%;
        left: 10%;
    }
    .bigHighlight{
        width: 39.5em;
        height: 39.5em;
        background-color: black;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .smallHighlight{
        width: 18em;
        height: 18em;
        background-color: green;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .Bigimage img{
        width: 39.5em;
    }
    
    .smallImage img{
        width: 18em;
    }


    .SecondPage{
     
        font-size: 7px;
    }

    .Highlightlist li{
        font-size: medium;
         
     }
    
    

     .MobileSection{
        width: 100%;
        height: 800px;
        
        
       
        overflow: hidden;
        position: relative;
    
    }
    .GadgetsSectionHeader{
        width: 100%;
        height: 150px;
        
        position: absolute;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: end;
    }
    .GadgetsSectionHeader h1{
        font-family: Arial, Helvetica, sans-serif;
        font-size: 45px;
        padding: 5px 0;
        
        cursor: default;
    }

    .GadgetsSectionDetails{
        width: 100%;
        height: 180px;
        
        position: relative;
        margin-top: 590px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .GadgetsSectionDetails div a{
        font-family: Arial, Helvetica, sans-serif;
        color: black;
        font-size: 15px;
        font-weight: bold;
        padding: 0 10px;
    }

    .GadgetsSectionDetails h1{
        font-family: Arial, Helvetica, sans-serif;
        font-size: 30px;
        
        cursor: default;
    }
    .GadgetsSectionDetails p{
        text-align: center;
        font-family: Arial, Helvetica, sans-serif;
        
        padding: 10px 0;
    }

    /* .carousel-inner{
        display: flex;
    }
    .carousel-item{
        display: block;
        margin-right: 0;
        flex: 0 0 calc(100%/3);
    } */
 
    .cardInnerSection{
        display: flex;
        justify-content: center;
        flex-direction: column;
    
    }
    .leftTop{
        display: flex;
        justify-content: center;
    }
    .rightBottom{
        display: flex;
        justify-content: center;
    }
}

@media screen and (max-width:575px) {

    .CarouselFont{
        font-size: 10px;
    }

    .rightCaptionPosition{
        position: absolute;
        top: 14%;
        left: 50%;
    }
    .leftCaptionPosition{
        position: absolute;
        top: 20%;
        left: 10%;
    }

    .bigHighlight{
        width: 90vw;
        height: 90vw;
    
        background-color: black;
    }
    .smallHighlight{
        width: 40vw;
        height: 40vw;
     
        
    }

    .Bigimage img{
        width: 89.5vw;
    }
    .smallImage img{
        width: 40.5vw;
    }



    .MobileSection{
        width: 100%;
        height: 690px;
        
        
       
        overflow: hidden;
        position: relative;
    
    }
    .GadgetsSectionHeader{
        width: 100%;
        height: 150px;
        margin-top: -40px;
        position: absolute;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: end;
    }
    .GadgetsSectionHeader h1{
        font-family: Arial, Helvetica, sans-serif;
        font-size: 45px;
        padding: 5px 0;
        
        cursor: default;
    }

    .GadgetsSectionDetails{
        width: 100%;
        height: 180px;
        
        position: relative;
        margin-top: 450px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .GadgetsSectionDetails div a{
        font-family: Arial, Helvetica, sans-serif;
        color: black;
        font-size: 15px;
        font-weight: bold;
        padding: 0 10px;
    }

    .GadgetsSectionDetails h1{
        font-family: Arial, Helvetica, sans-serif;
        font-size: 30px;
        
        cursor: default;
    }
    .GadgetsSectionDetails p{
        text-align: center;
        font-family: Arial, Helvetica, sans-serif;
        
        padding: 10px 0;
    }
 
    .resizeBTNsection img{
        width: 1000px;
    }

    .cardInnerSection{
        display: flex;
        justify-content: center;
        flex-direction: column;
    
    }
    .leftTop{
        display: flex;
        justify-content: center;
    }
    .rightBottom{
        display: flex;
        justify-content: center;
    }

    /* .carousel-inner{
        display: flex;
    }
    .carousel-item{
        display: block;
        margin-right: 0;
        flex: 0 0 calc(100%/3);
    } */
}

